html {
  background: #000;
  font-family: Consolas, monaco, monospace;
  color: #FFF;
  text-align: center;
  padding: 5em 1em 0;
  line-height: 2em;
}


h1 {
  padding: 140px 0 0;
  background: url(noBackend.png) 50% 0 no-repeat;
  background-size: 200px 200px;
}

a {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  border-top: 2px solid #fff;
  max-width: 500px;
  margin: 80 auto 0;
  padding: 10px 0 0;
}
nav li {
  display: inline;
}